<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SwagLab">
  <test thread-count="5" name="RegressionTest">
    <classes>
      <class name="test.CartPageTest"/>
      <class name="test.ProducDisplayPageTest"/>
      <class name="test.LoginPageTest"/>
      <class name="test.LogOutPageTest"/>
      <class name="test.CheckoutPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
